<p id="notice"><%= notice %></p>

<%= image_tag @capsule.image_url %>

<p>
  <strong>Message:</strong>
  <%= @capsule.message %>
</p>

<%= link_to 'Edit', edit_capsule_path(@capsule) %> |
<%= link_to 'Back', capsules_path %>
